/*-----------GENERAL-----------*/
  body {
    background: #D2D2D2;
    font-family: 'Source Sans Pro', sans-serif, arial ,serif;
    font-size: 16px;
    color: rgba(0,0,0,0.7);
    letter-spacing: 2px;
    display: flex;
    text-align: center;
    overflow-x: hidden;
  }
  .no-gutter > [class*='col-'] {
      padding-right:1px;
      padding-left:0;

  }



  .row1  {
    height: 550px;
    width: 100%;
    border-top: 1.5px solid #D2D2D2;
  }
  .row2  {
    height: 250px;
    width: 100%;
    border-top: 1.5px solid #D2D2D2;
  }

  .col-md-2 {
    height: 70px;

  }
  .col-md-8 {
    height: 70px;
  }
  .col-md-9 {
    position: relative;
  }

  h1, h2, h3, li {
    text-transform: uppercase;
  }

a {
  color: #FFF;
  text-decoration: none;
}
p {
  padding: 0 30px;

}
/*-----------HEADER-----------*/
#side-left {
  background: #DF4966;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
#side-left i {
  position: relative;
  right: 5px;
  top: 8px;
  font-size: 40px;
  margin: 0;

}
#side-left h2 {
  font-size: 16px;
  position: relative;



}
a:-webkit-any-link {
  text-decoration: none;
  color: white;
}
nav {
background: #FFF;
text-align: center;
display: -webkit-flex;
display: -ms-flex;
display: flex;
align-items: center;
justify-content: center;
}
nav ul {
  margin: 0;
  height: 65px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  padding: 0;
}
nav ul li {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 1.5px;
  padding: 30px;

}
nav ul li a {
  color: #8F9192 !important;
  text-decoration: none;

}
nav ul li a:hover {
  color: #D90031 !important;
  text-decoration: none;
}
#side-right  {
  background-color: #FFC2A0;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
#side-right h2 {
  font-size: 20px;
  margin: 0;

}
#side-right:hover {
background: #FFDAA0;
transition: all 400ms ease;
color: #fff;

}

/*-----------FIRST ROW-----------*/

   .box-overlay {
  position: absolute;
  text-align: center;
  color: white;
  width: 75%;
  top: 35%;
  left: 12%;
  padding: 20px;
  background-color: rgba(67,60,80,.5);
  border-radius: 5px;
  box-shadow: 1px 1px 8px 2px rgba(67,60,80,.3);
  cursor: pointer;
  }
  .box-overlay h1 {

font-size:30px;
 top: 200px;
  }

.box-overlay h2 {
top: 200px;
font-size:15px;
font-weight: 100;
opacity: 0.9;
  letter-spacing: 2.5px;
  margin-top: 0;

}
.box-overlay .square-horz {
  position: absolute;
  width: 90px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background: #D9794D;
  right: 25px;
  bottom: -23px;

}
.box-overlay img {
  width: 40px;
    opacity: 0.9;
}

/*-----------SECOND ROW-----------*/
.white {
  background: #FFF;
  height: 250px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.white h1 {
  color: #434647;
  font-size: 20px;
  text-align: center;

}
.white h3 {
  text-align: center;
  font-size: 14px;
  color: #6B6B6B;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 2.5px;
  line-height: 22px;
  text-transform: none;


}
.white p em {
  color: #4FB1A2;
}
.white p a {
  color: #4FB1A2;

}
.white img {

  padding: 0px 20px 20px 30px;
  width: 80px;
}
.border-left {
  border-top: 1.5px solid #D2D2D2;
}
.small-overlay {
position: absolute;
text-align: center;
color: white;
width: 75%;
top: 35%;
left: 12%;
background-color: rgba(67,60,80,.5);
box-shadow: 1px 1px 8px 2px rgba(67,60,80,.3);
cursor: pointer;
}
.small-overlay:hover {
  transform: scale(1.2)
}
.small-overlay h3 {
  font-size: 18px;
font-weight: bold;
padding: 0;
margin-bottom: 2px;;


}
.small-overlay h4 {
font-size:14px;
font-weight: lighter;
margin-bottom: 20px;
margin-top: 0;
letter-spacing: 2.5px;

}
.activities {
  align-items: flex-start;
}
/*-----------THIRD ROW-----------*/
#green-title {
  color: #4FB1A2;
  font-size: 20px;
  text-align:left;
  line-height: 30px;
  margin: 0;
  padding: 30px;
  padding-bottom: 15px;
  letter-spacing: 1.5px;
}
#caption {
  font-size: 12px;
  color: black;
  padding-left: 30px;
  margin: 0;
  text-align: left;


}

/*-----------FOOTER-----------*/
footer {
  text-align: center;
  margin: 0;
  padding: 60px;
  font-size: 10px;
height: 50px;
color: white;
}

  /*-----------MEDIA QUERIES---------*/
